/Lab_1/src/1/*.out
/Lab_1/src/1/output*
/Lab_1/src/1/metrics/
/Lab_1/src/1/plots/

/Lab_1/src/2/metrics/
/Lab_1/src/2/*.log
/Lab_1/src/2/*.o
/Lab_1/src/2/*.json
/Lab_1/src/2/*.out


/Lab_3/src/ex2_c.out